.Modal {
	position: absolute;
	top: 25vh;
	left: 40vw;
	right: 40vw;
	background-color: white;
	border-radius: 15px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.Overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 3;
}

@media screen and (max-width: 1366px) {
	.Modal {
		left: 35vw;
		right: 35vw;
	}
}

@media screen and (max-width: 1024px) {
	.Modal {
		left: 30vw;
		right: 30vw;
	}
}

@media screen and (max-width: 768px) {
	.Modal {
		left: 25vw;
		right: 25vw;
	}
}

@media screen and (max-width: 512px) {
	.Modal {
		left: 15vw;
		right: 15vw;
	}
}

@media screen and (max-width: 386px) {
	.Modal {
		left: 5vw;
		right: 5vw;
	}
}
